@model DataRequestSystem.Models.FormRequest

@{
    ViewBag.Title = "Request Submission";
}

<div class="jumbotron">
    <h2>Data Request Submission</h2>
</div>

<body>
    @using (Html.BeginForm("AddRequestSubmission", "Home"))
    {
    <h2>Request Information</h2>
    @*<form>*@
    <div class="form-group">
        <h5>Requester Name</h5>
        @Html.TextBoxFor(r => r.RequesterName)
    </div>
    @*</form>*@
    @*<form>*@
    @* Datepicker *@
    <div class="form-group">
        <h5>Date Wanted By</h5>
        @Html.TextAreaFor(r => r.DateWanted)
    </div>
    @*</form>*@
    @*<form>*@
    @* dropdown *@
    <div class="form-group">
        <h5>Priority Level</h5>
        @Html.DropDownListFor(m => m.PriorityLevel, new List<SelectListItem>
                   { new SelectListItem{Text="Critical", Value="Critical"},
                     new SelectListItem{Text="Important", Value="Important"},
                     new SelectListItem{Text="Normal", Value="Normal"},
                     new SelectListItem{Text="Low", Value="Low"},
                   }, "Please select")
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Number of Requests</h5>
        @Html.TextAreaFor(r => r.NumberRequests)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Request(s)</h5>
        @Html.TextAreaFor(r => r.Requests)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Briefly explain what this data will be used for.</h5>
        @Html.TextAreaFor(r => r.UsageExplanation)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Who will view this data?</h5>
        @Html.TextAreaFor(r => r.Viewers)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>How many?</h5>
        @Html.TextBoxFor(r => r.NumberViewers)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Additional Comments</h5>
        @Html.TextAreaFor(r => r.RequestComments)
    </div>
    @*</form>*@
    @*<form>*@
    @* dropdown *@
    <div class="form-group">
        <h5>Format</h5>
        @Html.DropDownListFor(m => m.Format, new List<SelectListItem>
                   { new SelectListItem{Text="Excel", Value="Excel"},
                     new SelectListItem{Text="Visualization (chart)", Value="Visualization (chart)"},
                     new SelectListItem{Text="CFV", Value="CFV"},
                   }, "Please select")
    </div>
    @*</form>*@

    <h2>Developer notes</h2>
    @*<form>*@
    <div class="form-group">
        <h5>Date Pulled</h5>
        @Html.TextAreaFor(r => r.DatePulled)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Date Pulled By</h5>
        @Html.TextAreaFor(r => r.DatePulledBy)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Additional Comments</h5>
        @Html.TextAreaFor(r => r.DevComments)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Files Attached</h5>
        @Html.TextAreaFor(r => r.FilesAttached)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Completion Status</h5>
        @Html.TextAreaFor(r => r.CompletionStatus)
    </div>
    @*</form>*@
    @*<form>*@
    <div class="form-group">
        <h5>Reason if not complete</h5>
        @Html.TextAreaFor(r => r.UncompletionReason)
    </div>
    @*</form>*@

    <div class="form-group">

        <input type="submit" value="Submit" class="btn btn-default" />

    </div>
        }
</body>
<div class="row">

</div>