@model DataRequestSystem.Models.FormRequest

@{
    ViewBag.Title = "Request Submission";
}

﻿@section scripts {
    @Scripts.Render("~/bundles/app")

}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
@*<div class="jumbotron">
        <h2>Data Request Submission</h2>
    </div>*@

<body>
    <div id="form">
        <h2>Data Request Submission</h2>
        @*@using (Html.BeginForm("AddRequestSubmission", "Home"))
        {*@
        @*<h2>Request Information</h2>*@
        <div class="container left">
            <div class="form-group col1">
                <h5>Requester Name</h5>
                @Html.TextBoxFor(r => r.RequesterName, new { @class = "panel", @id = "RequesterName" })
            </div>
            <div class="form-group col1">
                <h5>Date Wanted By</h5>
                @Html.TextBoxFor(r => r.DateWanted, new { @class = "panel", @type = "date", @id = "DateWanted" })
            </div>
            <div class="form-group col1">
                <h5>Number of Requests</h5>
                @Html.TextBoxFor(r => r.NumberRequests, new { @class = "panel", @id = "NumberRequests" })
            </div>
            <div class="form-group col1">
                <h5>Priority Level</h5>
                @Html.DropDownListFor(r => r.PriorityLevel, new List<SelectListItem>
                                           { new SelectListItem{Text="Critical", Value="Critical"},
                                             new SelectListItem{Text="Important", Value="Important"},
                                             new SelectListItem{Text="Normal", Value="Normal"},
                                             new SelectListItem{Text="Low", Value="Low"},
                                           }, "Please select", new { @class = "panel", @id = "PriorityLevel" })
            </div>
            <div class="form-group col1">
                <h5>Format</h5>
                @Html.DropDownListFor(r => r.Format, new List<SelectListItem>
                                   { new SelectListItem{Text="Excel", Value="Excel"},
                                     new SelectListItem{Text="Visualization (chart)", Value="Visualization (chart)"},
                                     new SelectListItem{Text="CFV", Value="CFV"},
                                     new SelectListItem{Text="Other", Value="Other" },
                                   }, "Please select", new { @class = "panel", @id = "Format" })
            </div>
            <div class="form-group col1" id="otherFormat">
                <h5>Other Format</h5>
                @Html.TextBoxFor(r => r.Format, new { @class = "panel", @id = "otherFormatVal" })
            </div>

        </div>
        <h5 id="filterTitle">Filters (Optional)</h5>
        <div class="mid1">
            <div class="form-group filter">
                <h5>Non-Demo Builders</h5>
                @Html.TextBoxFor(r => r.filterNDBuilders, new { @class = "panel checkbox", @type = "checkbox", @id = "filterNDBuilders" })
            </div>
            <div class="form-group filter">
                <h5>Open Builders</h5>
                @Html.TextBoxFor(r => r.filterOpenBuilders, new { @class = "panel checkbox", @type = "checkbox", @id = "filterOpenBuilders" })
            </div>
            <div class="form-group filter">
                <h5>US Builders</h5>
                @Html.TextBoxFor(r => r.filterUSBuilders, new { @class = "panel checkbox", @type = "checkbox", @id = "filterUSBuilders" })
            </div>
            <div class="form-group filter">
                <h5>Other: </h5>
                @Html.TextBoxFor(r => r.filterOther, new { @class = "panel", @id = "filterOther" })

            </div>

        </div>
        <div class="mid2">
            <div class="form-group filter filterDate">
                <h5>Date Range: </h5>
                @Html.TextBoxFor(r => r.filterFromDate, new { @class = "panel filterDate", @type = "date", @id = "filterFromDate" })

                <h5 id="filterTo">to</h5>
                @Html.TextBoxFor(r => r.filterFromDate, new { @class = "panel filterDate", @type = "date", @id = "filterToDate" })
            </div>
        </div>

        <div class="container right">
            <div class="form-group">
                <h5>Request(s)</h5>
                @Html.TextAreaFor(r => r.Requests, new { @class = "panel", @id = "Requests" })
            </div>
            <div class="form-group">
                <h5>Description</h5>
                @Html.TextAreaFor(r => r.Description, new { @class = "panel", @id = "Description" })
            </div>
            <div class="form-group">
                <h5>Briefly explain what this data will be used for.</h5>
                @Html.TextAreaFor(r => r.UsageExplanation, new { @class = "panel", @id = "UsageExplanation" })
            </div>
            <div class="form-group">
                <h5>Who will view this data?</h5>
                @Html.TextAreaFor(r => r.Viewers, new { @class = "panel", @id = "Viewers" })
            </div>
            <div class="form-group">
                <h5>How many viewers?</h5>
                @Html.TextBoxFor(r => r.NumberViewers, new { @class = "panel", @id = "NumberViewers" })
            </div>
        </div>

        <div class="form-group">
            <input id="Submit" type="submit" value="Submit" class="btn btn-default"/>
        </div>

        <div class="modal fade" id="successMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    
                    <div class="modal-body">
                        <h3>Submitted!</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="successOk" data-dismiss="modal">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<div class="row">

</div>